<!DOCTYPE html>
<html>
<head>
  <title>Thirty</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="javascripts/jquery-1.10.2.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <link rel="stylesheet" type="text/css"  href="stylesheets/style.css">
  <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
  
  <script src="javascripts/js.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io('/');
    socket.on('update',function(data){
      if(data.fun === "updateFriend"){
        seeRequests();
      }
      if(data.fun === "updateMessage"){
        document.getElementById("messageHidden").style.display="";
      }
      if(data.fun === "updateNotifications"){
        seeNotifications();
      }
      if(data.fun === "notUpdate"){
        document.getElementById("messageHidden").style.display="none";
      } 
    })
    /*function refreshRequest(){
    seeRequests();
  }
  function refreshMessage(){
    searchAllMessages();
  }
  
  setInterval(refreshRequest,20000);*/
  </script>
</head>

    {{{body}}}

  <!-- Modal -->
  <div id="modalCon" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Borrar mensaje</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Desea borrar este mensaje?</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="acceptModal" onclick="deleteMessage(this)" class="btn btn-secondary btn-success">Aceptar</button>
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html> 