html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
#updateErrorName , #updateErrorPasswd,#updateErrorAvatar, #updateErrorMood{
  text-align: center;
  padding-bottom: 5%; 
}
.error {
  color:red;
  width: auto;
}
.correcto {
  color:green;
}
  
.menuLateral{
  padding-top:10px;
  padding-bottom: 0px;
 }

.menuLateral ul{
  width: 100%;
}

.menuLateral li{
  width: 100%;
  list-style:none;
  border-radius: 4px;
  color:#000;
  height: 40px;
  cursor: pointer;
}

.liMenu{
  font-size:12px; 
  font-weight: normal;
}

.liMenuSelect{
  font-size:15px; 
  font-weight: bold; 
}

.searchPeople{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 4px;
}
  
.name{
  cursor: pointer;
  font-size: 20px;
}
  
.name:hover{
  text-decoration: underline;
}
  
.margin {
  margin: 10px 10px;
}

.margin-left40px{
  margin-left:40px;
}

.hidden{
  visibility:hidden;
}

.margin-10pxTop {
  margin: -10px 0px;
}

.marginLeftRigth15{
  margin: 0px 15px;
}
  
.center{
  margin: 2px auto;
}

.fontiSize10px{
  font-size:10px;
}
  
.añadido{
  background: red;
}
  
.paddingTop5px{
  padding-top:5px;
}

.marginTop10px{
  margin-top:10px;
}
  
.marginTop16px{
  margin-top:16px;
}

.noResize {
  resize:none;
}
  
.displayNone{
  display:none;
}

.marginTop6px{
  margin-top:6px;  
}

.padding13px{
  padding:13px;
}
  
.textAlignCenter{
  text-align:center;
}
  
.borderRadius15px{
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
}

.width100{
  width: 100%;
}

.paddingMessageHidden{
  padding-left: 17px; 
  padding-right: 17px; 
}

.messageHidden{
  cursor: pointer;
  background-color: #f5f8fa;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
    color: #1da1f2;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 1px;
    text-align: center;
    width: 100%;
}

.colorBlue{
  color:blue;
}

.paddingtop20{
  padding-top:20px;
}

.marginBotton13px{
  margin-bottom: -13px;
}

.marginBotton5px{
  margin-bottom: -5px;
}

.xDeleteMessage{
  position: relative;
  top: -25px;
  right: -10px;
  font-size: 20px;
  cursor: pointer;
}

.uploadFile{
  height: 26px;
  border: 1px solid #ced4da;
  border-top: none;
  position: relative;
  top: -1px;
}

.uploadFile label{
  position: relative;
  left: 2px;
  cursor: pointer;
  top: 4px;
}

.textArea{
  border-bottom:none ;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.textArea:focus{
  -webkit-box-shadow:none;
  box-shadow: none;
  border-color:#ced4da;;
}

.floatLeft{
  float:left;
}

.marginTop3px{
  margin-top: 3px;
}

.color607d8b{
  color:#607d8b;
}

.color607d8b:hover{
  color:#ccc;
}

.paddingBottom1px{
  padding-bottom: 1px;
}

.noBoton{
  position: relative;
  top: 6px;
}