html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
  #updateErrorName , #updateErrorPasswd,#updateErrorAvatar, #updateErrorMood{
    text-align: center;
    padding-bottom: 5%; 
  }
  .error {
    color:red;
  }
  .correcto {
    color:green;
  }
  .menuLateral ul{
    width: 100%;
  }
  .menuLateral li{
    width: 100%;
    padding-top:5px;
    padding-bottom:5px; 
    list-style:none;
    border-radius: 4px;
    color:#000;
    height: 40px;
    cursor: pointer;
  }
  .liMenu{
    font-size:12px; 
    font-weight: normal;
  }
  .liMenuSelect{
     font-size:15px; 
     font-weight: bold;
    
  }
  
  .margin {
    margin: 10px 10px;
  }

  .margin-10pxTop {
    margin: -10px 0px;
  }

  .marginLeftRigth15{
    margin: 0px 15px;
  }
  
  .center{
    margin: 2px auto;
    text-align: center;
  }

  .fontiSize10px{
    font-size:10px;
  }
  
  .añadido{
    background: red;
  }
  
  .paddingTop5px{
    padding-top:5px;
  }

  .marginTop10px{
    margin-top:10px;
  }

  .noResize {
    resize:none;
  }
  
  .displayNone{
    display:none;
  }

  .marginTop6px{
    margin-top:6px;  
  }

  .padding13px{
    padding:13px;
  }
  
  .textAlignCenter{
    text-align:center;
  }
  
  .borderRadius15px{
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
}